{% extends "base.html" %}

{% block lab %}Лабароторная работа 3 {% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>Напиток</div>
        <ol>
            
        <li>
            <label>
            <input type="radio" value="cofee" name="drink" checked>Кофе - 120р
            </label>
        </li>

        <li>
            <label>
                <input type="radio" value="black-tea" name="drink" checked>Черный чай - 80р
            </label>
        </li>
        
        <li>
            <label>
                <input type="radio" value="green-tea" name="drink" checked>Зеленый чай - 70р
            </label>
        </li>
        </ol>
        <div>Добавки</div>
        <label>
            <input type="checkbox" name="milk">Молоко - 30р
        </label>
        <label>
            <input type="checkbox" name="sugar">Сахар - 10р
        </label>
        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>

{% endblock %}