body {
    margin:0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgoldenrodyellow;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgoldenrodyellow;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

body{
    background: lightseagreen;
}
img.cars{
    text-align: center;
    width: 700px;
    height: auto;
}

div.cars{
    align-items: center;
    display: grid;
}
a.menu{
    text-align: left;
    color: red;
}

.errors{
    color: red;
}