<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Егор Лапшин. Лабораторная работа {{number}}</title>
</head>
<body>
    <header>
        WEB-программирование, 2 часть. Лабораторная работа {{number}}
    </header>
    <main>
        5+2={{5+2}}<br>
        11*28={{11*28}}<br>
        8452/793={{8452/793}}<br>
        45<sup>8</sup>={{45**8}}
    </main>
    <footer>
        &copy; {{name}}, {{group}}, {{kyrc}}-курс , 2024
    </footer>
</body>
</html>